.home-container {
  display: grid;
  grid-template-columns: 85% 15%;
  padding: 3rem;
  background: radial-gradient(circle at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);
  color: #ffffff
}

.home-header {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bold;
}

/* This will be moved for them changes */
.page-container {
  border-radius: 2px;
  border: 1px solid;
}