.filter-container {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.filter-container label {
  font-size: .75rem;
}

.filter-items {
  display: flex;
  flex-direction: column;
}

/* .filter-items.year {
  flex-direction: row;
} */

.filter-items label,
.filter-items select {
  margin: 0 0 0.75rem 0;
}